// Fuentes
$fuente_principal: 'Poppins', sans-serif;

$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;

// Tamaño de Media Queries
$telefono: 596px;
$tablet: 768px;
$desktop: 1024px;

//colores:

$blanco: #FDFDFD;
$gris: #D9D9D9;
$negro: #000;
$rojo: #E9473A;
$verde: #7BFA5B;